@font-face {
    font-family: 'Haas Display';
    font-weight: 300;
    src: url('../../fonts/NeueHaasDisplayLight.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Haas Display';
    font-weight: 300;
    font-style: italic;
    src: url('../../fonts/NeueHaasDisplayLightItalic.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Haas Display';
    font-weight: 500;
    src: url('../../fonts/NeueHaasDisplayRoman.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Haas Display';
    font-weight: 500;
    font-style: italic;
    src: url('../../fonts/NeueHaasDisplayRomanItalic.woff') format('woff')
  }
  
  @font-face {
    font-family: 'Skanaus';
    font-weight: 500;
    src: url('../../fonts/Skanaus-Regular.woff') format('woff');
  }
  
