.project
.settings
nbproject
.idea
atlassian-ide-plugin.xml
.vagrant
replace
design

wp/
vendor/
wp-content/plugins/
wp-content/uploads/
wp-content/wflogs/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-rocket-config/
wp-content/advanced-cache.php

wp-content/themes/studiopanadda/build
wp-content/themes/studiopanadda/node_modules

# Ignore htaccess file so this can be different per environment
/htdocs/.htaccess
