.slick-arrow {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  text-indent: -9999px;

  &::before {
    content: '';
    background: url('../img/default/icon-arrow.svg') no-repeat;
    background-size: 12px;
    width: 12px;
    height: 24px;

    position: absolute;
    left: 16px;
    top: 8px;
  }
}

.slick-prev {
  left: 20px;

  &::before {
    transform: scale(-1);
    left: 12px;
  }
}

.slick-next {
  right: 20px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;

  li {
    margin: 0 .25rem;
  }

  button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    background: $light;
    border: none;
    border-radius: 100%;
    text-indent: -9999px;
  }

  li.slick-active button {
    position: relative;
    background: $primary;
  }
}
