.c-nav-main {
  @include media-breakpoint-down(md) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      padding: 10px;
    }
  }
}

.c-nav-legal {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 10px;
  }
}
.c-sidebar{
  ul {
    display: flex;
    flex-direction: column;
    li{
      display: inline-block;
      // ::marker{
      //  display: none;
      // }

    }
  }
}

.c-menu {
  ul {
    display: flex;
    flex-direction: column;
    li{
      display: inline-block;
      list-style: none;
      ::marker{
       display: none;
      }

    }
  }
}


