.c-nav-main {
  @include media-breakpoint-down(md) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      font-family: 'Haas Display';
      font-weight: 300;
    }
  }
}

.c-header {

  span,
  a,
  .closebtn {
    font-family: 'Haas Display';
    font-weight: 300;
    @include rfs(26px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  .closebtn {
    justify-content: flex-start;
    color: #fff;
    line-height: 2.1;
  }

  .c-home__logo {
    font-family: 'Skanaus';
    text-decoration: none;
    color: inherit;
    @include rfs(50px);
    text-transform: none;
  }

  .overlay {
    .c-home__logo,
    a,
    span {
      color: #fff;
    }

    ul {
      li {
        list-style: none;
      }
    }

    .c-overlay__menu {
      ul {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }

      a {
        text-decoration: none;
        @include rfs(220px);
        display: block;
        transition: 0.3s;
        color: #fff;
        line-height: 1;
        font-weight: 300;
        transition: .2s all;

        &:hover {
          font-weight: 400;
          transition: .2s all;
        }
      }
    }
  }
}


.c-nav-legal {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 10px;
  }
}

.c-sidebar {
  ul {
    display: flex;
    flex-direction: column;

    li {
      display: inline-block;
      // ::marker{
      //  display: none;
      // }

    }
  }
}

.c-menu {
  ul {
    display: flex;
    flex-direction: column;

    li {
      display: inline-block;
      list-style: none;

      ::marker {
        display: none;
      }

    }
  }
}